.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .45);
}

.modal-window {
  padding: 1rem;
  background: #fff;
  margin-top: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
    transition: all .5s;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
    transition: all 2s;
  }
}
